@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");
html,
html * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav ul,
nav ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  margin: 0;
  background-color: #41b4a5;
  color: #e27c60;
}

html {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.375;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

p,
li,
code,
kbd,
th,
td,
legend,
label,
input {
  font-size: 1rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4,
h5,
h6 {
  font-size: 1.5rem;
}

header {
  left: 0;
  top: 0;
  width: calc( 100vw - 1rem * 2);
  height: 3rem;
}

header h1 {
  font-weight: 700;
}

.navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation a:link {
  text-decoration: none;
}

.navigation a:link {
  display: block;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navigation a:link {
  color: #18433e;
}

.navigation a:visited {
  color: #18433e;
}

.navigation a:hover {
  color: #e8a87d;
  background-color: #41b4a5;
}

.navigation a:active {
  color: #e8a87d;
  background-color: #41b4a5;
}

.navigation-horizontal li {
  display: inline-block;
  width: 100px;
}

.navigation-vertical li {
  display: block;
}

.content-template {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content-template--row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-template--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-template > nav {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  max-width: 250px;
}

.content-template > main {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  color: #252323;
  margin-left: 1rem;
}

html {
  font-family: "Merriweather Sans", sans-serif;
}

body {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ade1da), color-stop(#41b4a5), to(#18433e));
  background-image: linear-gradient(to right bottom, #ade1da, #41b4a5, #18433e);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@supports (-webkit-touch-callout: none) {
  body {
    min-height: 100vh;
    background-color: #e27c60;
    min-height: -webkit-fill-available;
  }
}
/*# sourceMappingURL=style.css.map */